.homeContainer {
    padding-top: 25vh;
    height: 90vh;

}

.homeContainer div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
    text-align: center;
}

.profilePhoto {
    width: 150px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}