header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--first-color);
    color: var(--text-color);

}

nav a {
    margin: 0 2rem;
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out; 
}
nav a:hover{
    color: #fff;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-Color);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

header a h3 {
    transition: all 0.3s ease-in-out; 
}

header a h3:hover {
    color:#fff;
}

@media only screen and (max-width: 1024px){
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--first-color);
        transition: 1s;
    }

    header .responsive_nav{
        transform: translateY(100vh)
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }



}
